# Ignore build artifacts
/target/
/bin/
/root/bin_test/
/Cargo.lock
**/*.d
.env
.DS_Store

# Ignore backup and swap files
**/*.rs.bk
**/*.rs.swp
**/*.rs.swo

# Ignore other temporary files
*.tmp

# Ignore log files
*.log

# Ignore fingerprint files
/target/debug/.fingerprint/
